{% extends 'featuredApp/base.html' %}

{% load static %}

<!-- As we are loading crispy form Hence Import crispy_forms_tags -->
{% load crispy_forms_tags %}


<!-- Some extra css property for this specific page -->
{% block addCSSlink %}
	<link rel="stylesheet" type="text/css" href="{% static 'featuredApp/pop_up.css' %}">
{% endblock addCSSlink %}


{% block titleBlock %} 
	<title> Contact </title>
{% endblock titleBlock %}

{% block contentBody1 %}

	<h2 class="font-weight-bold">Contact Details</h2>
        

	<hr style="margin: 20px 0;">

	

	<div class="container mt-4">

		<a href="{% url 'appContacts' %}" class="btn btn-light border font-weight-bold">
			← Back
		</a>

		<div style="padding-bottom: 20px;"></div>

	    <div class="card p-4 shadow-sm">
	        <div class="row mb-3">
	            <div class="col-md-3 text-muted font-weight-bold">Name:</div>
	            <div class="col-md-9 h5">{{ contact.name }}</div>
	        </div>

	        <div class="row mb-3">
	            <div class="col-md-3 text-muted font-weight-bold">Email:</div>
	            <div class="col-md-9 h5">
	            	{% if contact.email != "" %}
	            		{{ contact.email }}
	            	{% else %}
	            		<span class="text-muted">Email Not Set</span>
	            	{% endif %}
	            </div>
	        </div>

	        <div class="row mb-3">
	            <div class="col-md-3 text-muted font-weight-bold">Phone:</div>
	            <div class="col-md-9 h5">
		            {% if contact.phone != None %}
	            		{{ contact.phone }}
	            	{% else %}
	            		<span class="text-muted">Phone Number Not Set</span>
	            	{% endif %}
	        	</div>
	        </div>

	        <div class="row mb-3">
	            <div class="col-md-3 text-muted font-weight-bold">Address:</div>
	            <div class="col-md-9 h5">
	            	{% if contact.address != None %}
	            		{{ contact.address }}
	            	{% else %}
	            		<span class="text-muted">Phone Number Not Set</span>
	            	{% endif %}
	        	</div>
	        </div>

	        <div class="row mb-3">
	            <div class="col-md-3 text-muted font-weight-bold">Description:</div>
	            <div class="col-md-9 h5">
	            	{% if contact.description != "" %}
	            		{{ contact.description }}
	            	{% else %}
	            		<span class="text-muted">No Description</span>
	            	{% endif %}
	        	</div>
	        </div>

	        <div class="row">
	            <div class="col-md-3 text-muted font-weight-bold">Documents:</div>
	            <div class="col-md-9 h5 text-muted">
	            	No Document Added
	            </div>
	        </div>

	        <hr style="margin: 20px 0;">

	        <div class="row mb-3">
	            <div class="col-md-3 text-muted font-weight-bold">Created At:</div>
	            <div class="col-md-9 h5">{{ contact.created_at|date:"M-d-Y H:i" }}</div>
	        </div>

	        <div class="row mb-3">
	            <div class="col-md-3 text-muted font-weight-bold">Last Edit:</div>
	            <div class="col-md-9 h5">{{ contact.last_edited|date:"M-d-Y H:i" }}</div>
	        </div>
	    </div>

	    <div class="mt-4 d-flex justify-content-start" style="column-gap: 10px;">

		    <button class="btn btn-outline-info" type="submit" onclick="openEditContactFormPopUp()">
		    	Edit
		    </button>
		    
		    <form action="{% url 'appContactDelete' contact.id %}" method="post">
		    	{% csrf_token %}
		    	<button class="btn btn-outline-danger" type="submit" href="{% url 'appContactDelete' contact.id %}">Delete</button>
		    </form>
	</div>

	</div>


{% endblock contentBody1 %}


<!-- There GOES the POP-UP Window for Project Form -->
{% block addPopUp1 %}
	<!-- The Following defined the POP-UP WINDOW for adding new project to the model -->
	<div class="add-pop-up-window" id="contact-edit-pop-up-window-element">

		<span class="close-popup-btn" onclick="closeEditContactFormPopUp()">&times;</span>

		<!-- There GOES the form -->
		<!-- Referenced From accounts/register.html -->
		<div style="margin-top: 20px;" class="content-section">
			<form method="POST"> 
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4" style="font-weight: 800;"> Update Client Information </legend>
					{{ form|crispy }}
				</fieldset>

				<div class="form-group">
					<button class="btn btn-outline-info" type="submit" name="form_type" value="editClientForm">
						Update
					</button>
				</div>
			</form>
			
		</div>

	</div>

	<!-- This div allow us to close the pop-up if we click outside.. -->
	<div class="popup-overlay" id="popupOverlay" onclick="closeEditContactFormPopUp()"></div>
{% endblock addPopUp1 %}


<!-- There GOES the extra script that handles the pop-up window [ show / hide ] -->
{% block extraJS %}

	<!-- The script is specific for Contact updation pop-up -->
	<script type="text/javascript">
		let editContactPopUp = document.getElementById('contact-edit-pop-up-window-element');
		let tmp = document.getElementById('popupOverlay');
		

		function openEditContactFormPopUp() {
			// const form = editContactPopUp.querySelector('form');
			// form.reset();

			editContactPopUp.classList.add('open-popup');
			tmp.classList.add('active');
		}

		function closeEditContactFormPopUp() {
			editContactPopUp.classList.remove('open-popup');
			tmp.classList.remove('active');
		}

		// Close popup on ESC key
		document.addEventListener('keydown', function(event) {
			if (event.key === 'Escape') {
				closeEditContactFormPopUp();
			}
		});
	</script>
{% endblock extraJS %}