{% extends 'featuredApp/base.html' %}

{% load static %}

<!-- As we are loading crispy form Hence Import crispy_forms_tags -->
{% load crispy_forms_tags %}


<!-- Some extra css property for this specific page -->
{% block addCSSlink %}
	<link rel="stylesheet" type="text/css" href="{% static 'featuredApp/pop_up.css' %}">
{% endblock addCSSlink %}


{% block titleBlock %} 
	<title> Documents </title>
{% endblock titleBlock %}

{% block contentBody1 %}

	<h2 style="font-weight: bolder;"> Documents </h2>

	<hr style="margin: 20px 0;">

	<div class="d-flex justify-content-between my-2" style="align-items: flex-end;">
		<div>
			Total Documents: {{total_documents}}
		</div>

		<div>
			<button class="btn btn-dark" type="button" onclick= "openDocumentFormPopUp()"> Add Document</button>
		</div>
	</div>
			
			
	<input type="text" class="form-control my-2" placeholder="Search contacts...">

	<table class="table">
		<thead>
			<tr>
				<th><input type="checkbox" /></th>
				<th>Document Name</th>
				<th>Related To</th>
				<th>Description</th>
				<th>Time</th>

			</tr>
		</thead>
		<tbody>
			{% for document in documents %}
				<tr">
					<td><input type="checkbox" /></td>
					<td>{{ document.document_name }}</td>
					<td>{{ document.related_to }}</td>
					<td>{{ document.description }}</td>
					<td>{{ document.uploaded_at|date:"M-d-Y H:i" }}</td>
					
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
{% endblock contentBody1 %}


<!-- There GOES the POP-UP Window for Document Form -->
{% block addPopUp1 %}
	<!-- The Following defined the POP-UP WINDOW for adding new Document to the model -->
	<div class="add-pop-up-window" id="pop-up-doc-window-element">

		<span class="close-popup-btn" onclick="closeDocumentFormPopUp()">&times;</span>

		<!-- There GOES the form -->
		<!-- Referenced From accounts/register.html -->
		<div style="margin-top: 20px;" class="content-section">
			<!-- Added enctype - cause we need file to be loaded -->
			<form method="POST" enctype="multipart/form-data"> 
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4"> Add a new Document </legend>
					{{ form|crispy }}
				</fieldset>

				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">Upload</button>

				</div>
			</form>
			
		</div>

	</div>

	<!-- This div allow us to close the pop-up if we click outside.. -->
	<div class="popup-overlay" id="popupOverlay" onclick="closeDocumentFormPopUp()"></div>
{% endblock addPopUp1 %}

<!-- There GOES the extra script that handles the pop-up window [ show / hide ] -->
{% block extraJS %} 
	<script type="text/javascript">
		let docPopUp = document.getElementById('pop-up-doc-window-element');
		let tmp = document.getElementById('popupOverlay');
		

		function openDocumentFormPopUp() {
			const form = docPopUp.querySelector('form');
			form.reset();

			docPopUp.classList.add('open-popup');
			tmp.classList.add('active');
		}

		function closeDocumentFormPopUp() {
			docPopUp.classList.remove('open-popup');
			tmp.classList.remove('active');
		}

		// Close popup on ESC key
		document.addEventListener('keydown', function(event) {
			if (event.key === 'Escape') {
				closeDocumentFormPopUp();
			}
		});
	</script>
{% endblock extraJS %}
