{% extends 'featuredApp/base.html' %}

{% load static %}

<!-- As we are loading crispy form Hence Import crispy_forms_tags -->
{% load crispy_forms_tags %}


<!-- Some extra css property for this specific page -->
{% block addCSSlink %}
	<link rel="stylesheet" type="text/css" href="{% static 'featuredApp/pop_up.css' %}">
{% endblock addCSSlink %}


{% block titleBlock %} 
	<title> Tasks </title>
{% endblock titleBlock %}

{% block contentBody1 %}

	<h2 class="font-weight-bold">Task Detail</h2>
        

	<hr style="margin: 20px 0;">

	

	<div class="container mt-4">

		<a href="{% url 'appTasks' %}" class="btn btn-light border font-weight-bold">
			← Back
		</a>

		<div style="padding-bottom: 20px;"></div>

	    <div class="card p-4 shadow-sm">
	        <div class="row mb-3">
	            <div class="col-md-3 text-muted font-weight-bold">Name:</div>
	            <div class="col-md-9 h5">{{ task.task_name }}</div>
	        </div>

	        <div class="row mb-3">
	            <div class="col-md-3 text-muted font-weight-bold">Related To:</div>
	            <div class="col-md-9 h5">
	            	{{ task.related_to.name }}
	        	</div>
	        </div>

	        <div class="row mb-3">
	            <div class="col-md-3 text-muted font-weight-bold">Description:</div>
	            <div class="col-md-9 h5">
	            	{% if task.description != "" %}
	            		{{ task.description }}
	            	{% else %}
	            		<span class="text-muted">No Description</span>
	            	{% endif %}
	        	</div>
	        </div>

	        <div class="row mb-3">
	            <div class="col-md-3 text-muted font-weight-bold">Status:</div>
	            <div class="col-md-9 h5">
	            	{{ task.status }}
	        	</div>
	        </div>

	        <div class="row mb-3">
	            <div class="col-md-3 text-muted font-weight-bold">Priority:</div>
	            <div class="col-md-9 h5">
	            	{{ task.priority }}
	        	</div>
	        </div>

            <div class="row mb-3">
	            <div class="col-md-3 text-muted font-weight-bold">Owner:</div>
	            <div class="col-md-9 h5">
	            	{{ task.owner }}
	        	</div>
	        </div>

            <div class="row mb-3">
	            <div class="col-md-3 text-muted font-weight-bold">Type:</div>
	            <div class="col-md-9 h5">
	            	{{ task.type }}
	        	</div>
	        </div>

            <div class="row mb-3">
	            <div class="col-md-3 text-muted font-weight-bold">Due Date:</div>
	            <div class="col-md-9 h5">
	            	{{ task.due_date }}
	        	</div>
	        </div>

            <div class="row mb-3">
	            <div class="col-md-3 text-muted font-weight-bold">Due Time:</div>
	            <div class="col-md-9 h5">
	            	{{ task.due_time }}
	        	</div>
	        </div>
	    </div>
	  	<div class="mt-4m">
		<div class="mt-4 d-flex flex-wrap" style="gap: 10px;">

			<button class="btn btn-info" type="button" onclick="openEditTaskFormPopUp()">
				Edit
			</button>

			<form method="post" action="{% url 'appTaskDelete' task.id%}" style="display: inline;">
				{% csrf_token %}
				<button type="submit" class="btn btn-danger">Delete</button>
			</form>

			{% if task.status != "Completed" %}
				<form method="post" action="{% url 'appTaskMarkComplete' task.id %}" style="display: inline;">
					{% csrf_token %}
					<button type="submit" class="btn btn-success">Mark as Completed</button>
				</form>
			{% endif %}
		</div>
	</div>


{% endblock contentBody1 %}


<!-- There GOES the POP-UP Window for Project Form -->
{% block addPopUp1 %}
	<!-- The Following defined the POP-UP WINDOW for adding new project to the model -->
	<div class="add-pop-up-window" id="Task-edit-pop-up-window-element" style="max-width: 600px;">
		<span class="close-popup-btn" onclick="closeEditTaskFormPopUp()">&times;</span>
		<!-- There GOES the form -->
		<!-- Referenced From accounts/register.html -->
		<div style="margin-top: 20px;" class="content-section">
			<form method="POST"> 
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4" style=" font-weight: 800"> Edit Task <br>
						<div style="font-size: 12px; line-height: 1.1; font-weight: 300; margin-bottom: 8px;">
							Set reminders, track progress, and make sure no task falls through the cracks.
						</div>
					</legend>

					<div class="form-group">
						{{ form.task_name|as_crispy_field }}
					</div>

					<div class="form-group">
						{{ form.description|as_crispy_field }}
					</div>

					<!-- Side-by-side layout -->
					<div class="form-row">
						<div class="form-group col-sm-6">
							{{ form.status|as_crispy_field }}
						</div>
						<div class="form-group col-sm-6">
							{{ form.priority|as_crispy_field }}
						</div>
					</div>

					<!-- Side-by-side layout -->
					<div class="form-row">
						<div class="form-group col-sm-6">
							{{ form.owner|as_crispy_field }}
						</div>
						<div class="form-group col-sm-6">
							{{ form.type|as_crispy_field }}
						</div>
					</div>

					<div class="form-group">
						{{ form.related_to|as_crispy_field }}
					</div>

					<div class="form-row">
						<div class="form-group col-sm-6">
                            {{ form.due_date|as_crispy_field }}
						</div>
						<div class="form-group col-sm-6">
                            {{ form.due_time|as_crispy_field }}
						</div>
					</div>
					
					<div class="form-group">
						<button class="w-100 btn btn-info" type="submit" name="form_type" value="client_form">Update Task</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<!-- This div allow us to close the pop-up if we click outside.. -->
	<div class="popup-overlay" id="popupOverlay" onclick="closeEditTaskFormPopUp()"></div>
{% endblock addPopUp1 %}


<!-- There GOES the extra script that handles the pop-up window [ show / hide ] -->
{% block extraJS %}

	<!-- The script is specific for Task updation pop-up -->
	<script type="text/javascript">
		let editTaskPopUp = document.getElementById('Task-edit-pop-up-window-element');
		let tmp = document.getElementById('popupOverlay');
		

		function openEditTaskFormPopUp() {
			// const form = editTaskPopUp.querySelector('form');
			// form.reset();

			editTaskPopUp.classList.add('open-popup');
			tmp.classList.add('active');
		}

		function closeEditTaskFormPopUp() {
			editTaskPopUp.classList.remove('open-popup');
			tmp.classList.remove('active');
		}

		// Close popup on ESC key
		document.addEventListener('keydown', function(event) {
			if (event.key === 'Escape') {
				closeEditTaskFormPopUp();
			}
		});
	</script>
{% endblock extraJS %}