<table class="table table-bordered table-striped">

    <thead class="thead-light">
        <tr>
            <th>Name / Title</th>
            <th>Deleted At</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody class="tbody-light">

        {% for item in items %}
        <tr>

            <td>
                {% if model == 'Contact' %}
                    {{ item.name }}

                {% elif model == "Project" %}
                    {{ item.name }}

                {% elif model == "Document" %}
                    {{ item.document_name }}
                {% endif %}
            </td>

            <td>{{ item.deleted_at|date:"M d, Y H:i" }}</td>

            <td>
                <form method="post" action='{% url "app"|add:model|add:"Restore" item.pk %}' style="display:inline;">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-outline-success">
                        <i class="fas fa-undo"></i> 
                        Restore
                    </button>
                </form>
                <form method="post" action='{% url "app"|add:model|add:"PermanentDelete" item.pk %}' style="display:inline;">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-outline-danger">
                        <i class="fas fa-trash-alt"></i> 
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        {% empty %}
            <tr><td colspan="3" class="text-muted text-center">No items in trash.</td></tr>
        {% endfor %}
    </tbody>
  </table>