<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	{% block contentTitle %}
	{% endblock contentTitle %}

</head>
<body>

	<header>
		<div 
			class="header" 
			style="
				color: white; 
				background: black;
				padding: 12px 0 12px 0;"
		>
			This is header Displayed at top of every page!
			And Dynamic to the login status
		<div>
	</header>

	{% block contentBody1 %}
	{% endblock contentBody1 %}

</body>
</html>