/* --- Setting up variable for Dark and Light Theme --- */
:root {
    --heading-color: black;
    --body-background-color: #ffffff;
    --body-color: #222;

    --top-header-background-color: #ffffff;
    --top-header-color: #222;

    --sidebar-background-color: #f4f4f4;
    --sidebar-color: #222;

    --sidebar-border-right-color: #e0e0e0;

    --menu-items-a-color: #222;
    --menu-items-a-i-color: #555;
    --menu-items-a-hover-background-color: #e0e0e0;
    --menu-items-a-hover-border-right-color: darkgray;

    --top-header-background-color: #ffffff;
    --top-header-menu-toggle-color: black;
    --top-header-logo-color: black;
    --top-header-right-nav-account-icon: #333;
    --top-header-box-shadow-color: rgba(0,0,0,0.05);

    --account-panel-background-color: #fff;
    --account-panel-border-left-color: #e5e5e5;
    --account-panel-company-name-color: #222;
    --account-panel-company-email-color: #777;
    --account-panel-body-a-hover: #007bff;
    --account-panel-header-border-bottom: #eee;
    --account-panel-header-profile-link-color: #0000EE;
    --account-panel-body-menu-background-color: #e0e0e0;

    --account-panel-appearance-color: black;
    --account-panel-appearance-background-color: #fff;
    --account-panel-appearance-border-left-color: #e5e5e5;
    --account-panel-appearance-back-img: black;
    --account-panel-appearance-menu-hover-background-color: #eee;

    --featuredApp-dashboard-welcome-box: linear-gradient(135deg, #f0f8ff, #e0f7fa);
    --featuredApp-dashboard-welcome-box-p-color: #adb5bd;
    --featuredApp-dashboard-division-line-h2: #444;
    --featuredApp-dashboard-ul-list-item-background-color: white;
    --featuredApp-dashboard-ul-list-item-color: black;
    --featuredApp-dashboard-ul-list-item-border-color: #e5e5e5;
    --featuredApp-dashboard-ul-list-item-a-hover: #007bff;

    --featuredApp-contacts-table-border-color: #e0e0e0;
    --featuredApp-contacts-a-hover: #007bff;
    --featuredApp-contacts-checkbox-accent-color: #007bff;
    --featuredApp-contacts-icon-button-background-color: white;
    --featuredApp-contacts-icon-button-color: black;
    --featuredApp-contacts-form-control-input-bg: #ffffff;
    --featuredApp-contacts-form-control-input-color: #222222;
    --featuredApp-contacts-form-control-input-border: #ccc;
    --featuredApp-contacts-form-control-input-placeholder: #888;
    --featuredApp-contacts-form-control-input-focus-border: #007bff;
    --featuredApp-contacts-form-control-input-caret-color: #222;

    /* Things are dependend on this value! Change Wisely */
    --featuredApp-contacts-form-add-pop-up-window-background-color: white;
    /* Things are dependend on this value! Change Wisely */
    --featuredApp-contacts-form-add-pop-up-window-color: black;

    --featuredApp-tasks-date-and-time: invert(0);

    --featuredApp-trash-table-striped-odd-background-color: #fff;
    --featuredApp-trash-table-striped-odd-color: #f9f9f9;

    /*--background-color: white;
    --text-color: #222;
    --card-bg: #f7f7f7;
    --border-color: #ddd;*/
}

body.theme-dark {
    --heading-color: white;
    --body-background-color: #121212;
    --body-color: #e0e0e0;

    --top-header-background-color: #1e1e1e;
    --top-header-color: #e0e0e0; 

    --sidebar-background-color: #1a1a1a;
    --sidebar-color: #e0e0e0;

    --sidebar-border-right-color: #222222;

    --menu-items-a-color: white;
    --menu-items-a-i-color: white;
    --menu-items-a-hover-background-color: #666;
    --menu-items-a-hover-border-right-color: #888;

    --top-header-background-color: #121212;
    --top-header-menu-toggle-color: #ffffff;
    --top-header-logo-color: white;
    --top-header-right-nav-account-icon: white;
    --top-header-box-shadow-color: rgba(255,255,255,0.1);

    --account-panel-background-color: #1e1e1e;
    --account-panel-border-left-color: #333;
    --account-panel-company-name-color: #e0e0e0;
    --account-panel-company-email-color: #999999;
    --account-panel-body-a-hover: #4dabf7;
    --account-panel-header-border-bottom: #444444;
    --account-panel-header-profile-link-color: #4dabf7;
    --account-panel-body-menu-background-color: #444;

    --account-panel-appearance-color: white;
    --account-panel-appearance-background-color: #1e1e1e;
    --account-panel-appearance-border-left-color: #2a2a2a;
    --account-panel-appearance-back-img: white;
    --account-panel-appearance-menu-hover-background-color: #444;

    --featuredApp-dashboard-welcome-box: linear-gradient(135deg, #1e1e2f, #2a2a3d);
    --featuredApp-dashboard-welcome-box-p-color: white;
    --featuredApp-dashboard-division-line-h2: #444;
    --featuredApp-dashboard-ul-list-item-background-color: black;
    --featuredApp-dashboard-ul-list-item-color: white;
    --featuredApp-dashboard-ul-list-item-border-color: #444444;
    --featuredApp-dashboard-ul-list-item-a-hover: #4dabf7;

    --featuredApp-contacts-table-border-color: #444444;
    --featuredApp-contacts-a-hover: #4dabf7;
    --featuredApp-contacts-checkbox-accent-color: #4dabf7;
    --featuredApp-contacts-icon-button-background-color: black;
    --featuredApp-contacts-icon-button-color: white;
    --featuredApp-contacts-form-control-input-bg: #1e1e1e;
    --featuredApp-contacts-form-control-input-color: #e0e0e0;
    --featuredApp-contacts-form-control-input-border: #444;
    --featuredApp-contacts-form-control-input-placeholder: #aaa;
    --featuredApp-contacts-form-control-input-focus-border: #4dabf7;
    --featuredApp-contacts-form-control-input-caret-color: #e0e0e0;

    /* Things are dependend on this value! Change Wisely */
    --featuredApp-contacts-form-add-pop-up-window-background-color: black; 
    /* Things are dependend on this value! Change Wisely */
    --featuredApp-contacts-form-add-pop-up-window-color: white;

    --featuredApp-tasks-date-and-time: invert(1);

    --featuredApp-trash-table-striped-odd-background-color: #1e1e1e;
    --featuredApp-trash-table-striped-odd-color: #242424;

    /*--background-color: #121212;
    --text-color: #e0e0e0;
    --card-bg: #1e1e1e;
    --border-color: #333;*/
}

html,
body {

    font-size: 16px;

    margin: 0;
    padding: 0;

    font-family: sans-serif;

    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
}

.handle-body-level {
    background-color: var(--body-background-color);
    color: var(--body-color);

    padding-bottom: 200px;
}

.container-defined {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.l-own {
    border: none; 
    background: none; 
    font: inherit; 
    padding: 0px;
    margin: 0px;
    color: indianred;
    cursor: pointer;

    font-weight: 800;
}

.l-own:hover {
    color: orangered;
}

.l-own:active {
    font-weight: 800;
}

/*.layout {
    display: flex;
    min-height: 100vh;
}*/

.top-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;

    background-color: var(--top-header-background-color);
    color: var(--top-header-color);

    display: flex;
    align-items: center;

    padding: 0 15px;

    z-index: 1000;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

    .left-nav .menu-toggle {
        margin-top: -4px;
    }
}

.site-header .top-header .left-nav .menu-toggle {
    cursor: pointer;
    font-size: 35px;
    margin-right: 15px;
}

/* Sidebar */
.sidebar {
    background-color: var(--sidebar-background-color);
    color: var(--sidebar-color);

    padding-top: 60px;

    height: 100vh;

    overflow: hidden;

    transition: width 0.3s ease;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 999;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.01);
    /*box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);*/

    border-right: 1px solid var(--sidebar-border-right-color);
}

.sidebar.expanded {
    width: 220px;
}

.sidebar.collapsed {
    width: 60px;
}

.container-defined.expanded {
    margin-left: 230px;
    margin-top: 60px;
}

.container-defined.collapsed {
    margin-left: 70px;
    margin-top: 60px;
}

/*.menu-logo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}*/

.site-header .sidebar .menu-items a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--menu-items-a-color);
    white-space: nowrap;
    transition: background-color 0.2s;
}

.site-header .sidebar .menu-items a i {
    margin-right: 12px;
    min-width: 20px;
    text-align: center;
    font-size: 18px;
    color: var(--menu-items-a-i-color);
    transition: color 0.2s;
}

.site-header .sidebar .menu-items a:hover {
    background-color: var(--menu-items-a-hover-background-color);
    border-radius: 4px;
}

/*.menu-items a:hover i {
    color: #007bff;
}*/

.site-header .sidebar .menu-label {
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sidebar.collapsed .menu-label {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* Active Link */
.site-header .sidebar .menu-items a.active {
    background-color: #e0e0e0;
    color: black;
    font-weight: 600;
    border-right: 2px solid var(--menu-items-a-hover-border-right-color);
    border-radius: 2px;

    i {
        color: black;
    }
}

/*.menu-items a.active i {
    color: #1d4ed8;
}
*/

/* Content */
.content {
    margin-left: 220px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.sidebar.collapsed ~ .content {
    margin-left: 60px;
}

/* Responsive: always visible sidebar, just collapsible */
@media (max-width: 600px) {
    .content {
        margin-left: 220px;
    }

    .sidebar.collapsed ~ .content {
        margin-left: 60px;
    }
}

.top-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: var(--top-header-background-color);
    color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    z-index: 1000;
    box-shadow: 0 2px 4px var(--top-header-box-shadow-color);
}

.top-header .left-nav {
    display: flex;
    align-items: center;

    a {
        color: black;
        text-decoration: none;
        cursor: pointer; 
    }

    a:hover,
    a:active,
    a:visited,
    a:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}

.top-header .left-nav .menu-toggle {
    cursor: pointer;
    font-size: 24px;
    margin-right: 15px;

    color: var(--top-header-menu-toggle-color);
}

.top-header .left-nav .logo {
    font-size: 18px;
    font-weight: bold;

    color: var(--top-header-logo-color);

    text-decoration: none;
}

/*.right-nav .account-link {
    font-size: 22px;
    color: #222;
    text-decoration: none;
}

.right-nav .account-link:hover {
    color: #007bff;
}
*/

/* --- Slide Panel Container --- */
.account-panel {
    position: fixed;
    top: 40px;
    right: -420px; /* Hidden by default */
    width: 350px;
    /*height: 100%;*/
    background-color: var(--account-panel-background-color);
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
    border-left: 1px solid var(--account-panel-border-left-color);
    border-radius: 10px;
    transition: right 0.3s ease;
    z-index: 3000;
    display: flex;
    flex-direction: column;
}

/* --- Open State --- */
.account-panel.open {
    right: 20px;
}

/* --- Header with Company Info --- */
.account-panel .account-panel-header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 12px;
    padding: 18px 10px 18px 10px;
    border-bottom: 1px solid var(--account-panel-header-border-bottom);
    /*background-color: #f9f9f9;*/
}

/* --- Company Logo --- */
.account-panel .account-panel-header .company-logo {
    width: 45px;
    height: 45px;
    border-radius: 8px;
    object-fit: cover;
}

/* --- Company Details --- */
.account-panel .account-panel-header .company-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.account-panel .account-panel-header .company-name {
    font-size: 18px;
    font-weight: 600;
    color: var(--account-panel-company-name-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.account-panel .account-panel-header .company-email {
    font-size: 15px;
    color: var(--account-panel-company-email-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* --- Close Button (×) --- */
.close-btn {
    background: none;
    border: none;
    font-size: 22px;
    line-height: 1;
    color: #888;
    cursor: pointer;
    padding: 0;
}

.account-panel .account-panel-header .profile-link:hover {
    text-decoration: none;
    color: var(--account-panel-header-profile-link-color);
}

/* --- Body Links --- */
.account-panel .account-panel-body {
    /*padding: 20px;*/
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.account-panel .account-panel-body a {
    display: block;
    padding: 10px 0;
    font-size: 15px;
    color: #333;
    text-decoration: none;
    transition: color 0.2s;
}

.account-panel.account-panel-body a:hover {
    color: var(--account-panel-body-a-hover);
}


/* --- Right Nav Container --- */
.top-header .right-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

/* --- Account Trigger Icon Area --- */
.top-header .right-nav .account-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
    transition: background-color 0.2s ease;
}

.top-header .right-nav .account-trigger:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

/* Account menu option */
.account-panel .account-panel-body .account-menu {
    font-weight: 100;
    font-size: 14px;
    padding: 10px 14px;
}

.account-panel .account-panel-body .two-element {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    column-gap: 12px;
}

.account-panel .account-panel-body .two-different-elements {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
}

.account-panel .account-panel-body .account-menu:hover {
    background-color: var(--account-panel-body-menu-background-color);
    cursor: pointer;
}

/* --- Account Icon Styling --- */
.top-header .right-nav .account-icon {
    font-size: 22px;
    color: var(--top-header-right-nav-account-icon);
}

/* --- Slide Panel Container Appearance --- */
.account-panel-appearance {
    position: fixed;
    top: 40px;
    right: -320px; /* Hidden by default */
    width: 300px;

    color: var(--account-panel-appearance-color);
    background-color: var(--account-panel-appearance-background-color);

    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
    border-left: 1px solid var(--account-panel-appearance-border-left-color);
    border-radius: 10px;
    transition: right 0.3s ease;
    z-index: 2800;
    display: flex;
    flex-direction: column;
    visibility: none;
}

.account-panel-appearance .account-panel-appearance-header {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12px;
    border-bottom: 1px solid var(--account-panel-header-border-bottom);
    padding: 18px 38px 12px 10px;
}

.account-panel-appearance #go-back-account-panel {
    cursor: pointer;
    background: none; 
    border: none; 
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: background-color 0.2s;
}

.account-panel-appearance #go-back-account-panel-img {
    color: var(--account-panel-appearance-back-img);
}

.account-panel-appearance #go-back-account-panel:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

/* appearance option */
.account-panel-appearance .account-panel-appearance-body {
    display: flex;
    flex-direction: column;

    padding-top: 10px;
    padding-bottom: 10px;
}

.account-panel-appearance-body .account-menu {
    font-weight: 100;
    font-size: 14px;

    padding: 10px 14px;
}

.account-panel-appearance-body .account-menu:hover {
    background-color: var(--account-panel-appearance-menu-hover-background-color);
    cursor: pointer;
}

/* --- Open State --- */
.account-panel-appearance.open {
    right: 20px;
    visibility: true;
}

.sidebar {
    visibility: hidden;
}

.sidebar.ready {
    visibility: visible;
}

/* --- Appearance Panel --- */
.account-panel-appearance .account-panel-appearance-body .account-menu.active .tick-mark::before {
    content: "✓";
    color: green;
}

.account-panel-appearance .account-panel-appearance-body .account-menu {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    gap: 10px;
}

.account-panel-appearance .account-panel-appearance-body .tick-mark {
    width: 16px;
    height: 1em; /* align with text height */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* Blank space by default */
.account-panel-appearance .account-panel-appearance-body .tick-mark::before {
    content: "";
}

/* Show tick when selected */
.account-panel-appearance .account-panel-appearance-body .account-menu.active .tick-mark::before {
    content: "✓";
}





/* --- Switch Account Panel --- */
.account-panel-switchAccount {
    position: fixed;
    top: 40px;
    right: -320px; /* Hidden by default */
    width: 300px;

    color: var(--account-panel-appearance-color);
    background-color: var(--account-panel-appearance-background-color);

    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
    border-left: 1px solid var(--account-panel-appearance-border-left-color);
    border-radius: 10px;
    transition: right 0.3s ease;
    z-index: 2800;
    display: flex;
    flex-direction: column;
    visibility: none;
}

.account-panel-switchAccount .account-panel-switchAccount-header {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12px;
    border-bottom: 1px solid var(--account-panel-header-border-bottom);
    padding: 18px 38px 12px 10px;
}

.account-panel-switchAccount #go-back-account-panel-from-switchAccount {
    cursor: pointer;
    background: none; 
    border: none; 
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: background-color 0.2s;
}

.account-panel-switchAccount #go-back-account-panel-img-from-switchAccount {
    color: var(--account-panel-appearance-back-img);
}

.account-panel-switchAccount #go-back-account-panel-from-switchAccount:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

/* appearance option */
.account-panel-switchAccount .account-panel-switchAccount-body {
    display: flex;
    flex-direction: column;

    padding-top: 10px;
    padding-bottom: 10px;
}

.account-panel-switchAccount-body .account-menu {
    font-weight: 100;
    font-size: 14px;

    padding: 10px 14px;
}

.account-panel-switchAccount-body .account-menu:hover {
    background-color: var(--account-panel-appearance-menu-hover-background-color);
    cursor: pointer;
}

/* --- Open State --- */
.account-panel-switchAccount.open {
    right: 20px;
    visibility: true;
}

.account-panel-switchAccount .account-panel-switchAccount-body .account-menu.active .tick-mark::before {
    content: "✓";
    color: green;
}

.account-panel-switchAccount .account-panel-switchAccount-body .account-menu {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    gap: 10px;
}

.account-panel-switchAccount .account-panel-switchAccount-body .tick-mark {
    width: 16px;
    height: 1em; /* align with text height */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* Blank space by default */
.account-panel-switchAccount .account-panel-switchAccount-body .tick-mark::before {
    content: "";
}

/* Show tick when selected */
.account-panel-switchAccount .account-panel-switchAccount-body .account-menu.active .tick-mark::before {
    content: "✓";
}