.doc-more-btn,
.doc-add-btn {
	color: black;
	background-color: #ffffff;
	font-weight: 500;

	cursor: pointer;

	border: 1px solid #f0f0f0;
	border-radius: 5px;

	box-shadow: 0 2px 4px rgba(0, 123, 255, 0.1);

	transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

}

.doc-more-btn:hover,
.doc-add-btn:hover {
	background-color: #f0f0f0;
	box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.doc-more-btn:focus,
.doc-more-btn:active,
.doc-add-btn:focus,
.doc-add-btn:active {
	outline: none;
	box-shadow: none;
	border-color: #333333;
}


.add-doc-pop-up-window {
	visibility: hidden;
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	max-width: 90%;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 24px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	opacity: 0;
	transition: opacity 0.3s ease, visibility 0.3s ease;

	max-height: 80vh;
	overflow-y: auto;
}

textarea {
	height: 40px;
	max-height: 80px;
	overflow-y: auto;
	resize: vertical; /* allow resize if you want */
}

.open-doc-popup {
	visibility: visible;
	opacity: 1;
}

/* THE FOllowing is the cross button for the pop-up window */
/*CAN be used in several occassions - like at project / client / and many more... */
.close-doc-popup-btn {
	position: absolute;
	top: 8px;
	right: 16px;
	font-size: 24px;
	font-weight: bold;
	color: #444;
	cursor: pointer;
	transition: color 0.2s ease;
}

.close-doc-popup-btn:hover {
	color: #000;
}


/* This will dark the background */
.popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	visibility: hidden;
	opacity: 0;
	z-index: 900;
	transition: all 0.3s ease;
}
.popup-overlay.active {
	visibility: visible;
	opacity: 1;
}